html{
	font-family: 'Roboto', sans-serif;
	background-color:#FDFDFD;
}

.closet {
	display:flex;
	justify-content: center;
	flex-direction: row;
	margin:20px;
}

.closet img{
	margin:10px;
	width:540px;
	height:540px;
}

h1{
	font-size:50px;
	text-align:center;
	position:absolute;
	left:50%;
	top:55%;
	transform: translate(-50%, -50%);
	color:black;
	font-weight:400;
	background-color:white;
}

#nav-bar{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content: center;
	border:1px solid black;
}

.nav{
	text-decoration: none;
	font-size:14px;
	color:gray;
	margin:15px;
	margin-top:23px;
	cursor: pointer;
	list-style:none;
}


.flex-container{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-direction: row;
}

.item{
	height:340px;
	width:330px;
	margin:20px;
	border-bottom:80px solid white;
}

.listing{
	position: relative;
}

.listing:hover{
	transform:scale(1.1);
}


.item-name{
	position:absolute;
	top:79%;
	left:50%;
	color:black;
	font-size: 15px;
	transform: translate(-50%, -50%);
}

.price{
	position:absolute;
	top:85%;
	left:50%;
	color:black;
	font-size: 14px;
	transform: translate(-50%, -50%);
}

.item-close-up{
	width:580px;
	height:580px;
	margin: 3%;
}

.item-info img{
	float:left;
	display:inline; 
}

.info {
	float:right; 
	display:inline; 
	width: 27%;
	position: absolute;
	top: 40%;
	left: 80%;
	transform: translate(-50%, -50%);
}


@media only screen and (min-width:751px) and (max-width:1000px){
	
	.item{
		height:310px;
		width:300px;
	}
	
	.closet img{
		width:410px;
		height:410px;
	}
	
	
	h1{
		font-size:40px;
	}
	
	
	.item-close-up{
		width:480px;
		height:480px;
	}
	
	
}

@media only screen and (min-width:449px) and (max-width:750px){
	
	.closet img{
		display:none;
	}
	
	h1{
		font-size:25px;
		top:13%;
		margin: 4px;
	}
	
	button{
		font-size:8px;
	}
	
	.item{
		height:280px;
		width:270px;
	}
	
	.nav{
		font-size: 10px
	}
		
	.item-close-up{
		width:93%;
		height:580px;
		transform:scale(.94);
	}

	.info{
		position: absolute;
		top: 105%;
		left: 53%;
		width:90%;
		transform: translate(-50%, -50%);
	}
	
}

@media screen and (max-width:449px) {
	
	#nav-bar{
		display:none;
	}
	
	.closet img{
		display:none;
	}
	
	h1{
		font-size:25px;
		top:3%;
	}
	.item{
		margin-top:40px;
		width: 330px;
	}
		
	.item-close-up{
		height:380px;
		width:94%;
	}

	.info{
		position: absolute;
		top: 60%;
		left: 50%;
		width:90%;
		transform: translate(-50%, -50%);
	}
	
}
