html{
	background-color:#FDFDFD;
}

h1{
	font-size:23px;
	margin-top:20px;
	margin-left:45px;
}


#nav-bar{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content: center;
	position: absolute;
	top: 80%;
	left: 1%;
}

.nav{
	font-size:14px;
	margin:15px;
	cursor: pointer;
	list-style:none;
}

.top{
	display:flex;
	flex-direction: row;
}

input{
	border-radius: 10px;
	width:40%;
	height:40px;
	display:block;
	padding:10px;
	border:1px solid white;
	margin: 15px auto 1px 170px;
	background-color:whitesmoke;	
}

.welcome{
	width:80%;
	background-color: pink;
	border-radius:20px;
	height:300px;
	display:block;
	margin: 5% auto 5% auto;
	position: relative;
}

.promo{
	text-align:center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-style: italic;
}

.get-code{
	background-color: black;
	color:white;
	border-radius: 10px;
	width:90px;
	height:40px;
}

.hidden{
	display: none;
}

.flex-container{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-left:13%;
}

.item{
	height:340px;
	width:330px;
	margin:30px;
	border-bottom:80px solid white;
	border-radius: 25px;
}

.listing{
	position: relative;
}

.listing:hover{
	transform:scale(1.1);
}


.item-name{
	position:absolute;
	top:79%;
	left:50%;
	color:black;
	font-size: 15px;
	transform: translate(-50%, -50%);
}

.price{
	position:absolute;
	top:85%;
	left:50%;
	color:black;
	font-size: 14px;
	transform: translate(-50%, -50%);
}


.mini-item-container{
	display:flex;
	flex-direction: column;
}

.mini-item{
	width:100px;
	height:100px;
	margin:10px;
	display:inline;
	padding:5px;
}

.bigItem{
	width:550px;
	height:550px;
	margin: 1%;
	position: absolute;
	top: 42.6%;
	left: 37.9%;
	transform: translate(-50%, -50%);
}


.info {
	width: 27%;
	position: absolute;
	top: 40%;
	left: 80%;
	transform: translate(-50%, -50%);
}


@media only screen and (min-width:751px) and (max-width:1000px){
	
	.item{
		height:310px;
		width:300px;
	}
	
	.info{
		left:40%;
		top:95%;
		width:70%;
	}
	
	.bigItem{
		width:490px;
		height:490px;
		margin-left:13%;
	}

	.mini-item{
		flex-wrap:wrap;
	}
	
}

@media only screen and (min-width:449px) and (max-width:750px){
	
	button{
		font-size:8px;
	}
	
	.item{
		height:280px;
		width:270px;
	}
	
	.nav{
		font-size: 10px
	}
		
	.bigItem{
		width:480px;
		height:480px;
		top:60%;
		left:50%;	
	}

	.info{
		position: absolute;
		top: 115%;
		left: 55%;
		width:90%;
	}
	.mini-item-container{
		flex-direction:row;
		justify-content:center;
	}
	
}

@media screen and (max-width:449px) {
	
	#nav-bar{
		display:none;
	}

	.item{
		margin-top:40px;
		width: 330px;
	}
		
	.bigItem{
		height:300px;
		width:84%;
	}

	.mini-item-container{
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:center;
	}

	.info{
		position: absolute;
		top: 60%;
		left: 50%;
		width:90%;
		transform: translate(-50%, -50%);
	}

	#nav-bar{
		display:none;
	}
}
